:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #ffae01;
  --second-brand-color: #b54301;
  --third-brand-color: #ec7f21;




  --main-font:  'Kanit';
  --title-font:  'Kanit Bold';
  --main-title-font: 'Kanit Black';

  font-size: 62.5%;
}
